.content
  .playboard
    .title
      = @qfile.title
    .word.word1
      %i.fas.fa-exclamation-circle
      %p
        タイピング中はキーボードを使います。
    .word.word2
      %p
        スペースキーを押すとスタートします。
    .word.word3
      %i.fas.fa-asterisk
      %p
        ゲーム中や結果画面では、「ESCキー」を押すとすぐにタイピングをやり直すことができます。
  .link-to-top
    = link_to 'トップへ戻る', "/"